* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 70%;
  margin: 0 auto;
}

.dancer {
  position: fixed;
  bottom: 335px;
  left: 565px;
  height: 80px;
}

.visitor {
  position: fixed;
  top: 377px;
  right: 200px;
  height: 48px;
  animation: 30s ease-out infinite visitors-direction;
}

@keyframes visitors-direction {
  0% {
    transform: translateX(0px);
  }

  10% {
    transform: translateX(-500px);
  }

  13% {
    transform: translateX(-500px) scaleX(-1);
  }

  20% {
    transform: translate(-500px, 110px) scaleX(-1);
  }

  30% {
    transform: translate(-370px, 110px) scaleX(-1);
  }

  40% {
    transform: translate(-370px, 210px) scaleX(-1);
  }

  43% {
    transform: translate(-370px, 210px);
  }

  50% {
    transform: translate(-630px, 210px);
  }

  60% {
    transform: translate(-630px, 110px);
  }

  63% {
    transform: translate(-630px, 110px) scaleX(-1);
  }

  70% {
    transform: translate(-500px, 110px) scaleX(-1);
  }

  73% {
    transform: translate(-500px, 100px);
  }

  75% {
    transform: translate(-500px, 0px);
  }

  85% {
    transform: translate(-850px, 0px);
  }

  90% {
    transform: translate(-1050px, -50px);
  }

  100% {
    transform: translate(-1050px, -50px);
  }
}
